.page {
  max-width: 1180px;
  margin: 0 auto;
  padding: 80px 20px 70px;
  min-height: 494px;
}

.titleBlock {
  text-align: center;
  margin-bottom: 26px;
}

.kicker {
  margin: 0 0 8px;
  font-size: 20px;
  line-height: 18px;
  color: var(--color-footer-section-title);
  letter-spacing: 0.2px;
}

.title {
  margin: 0;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #2a2a2a;
}

/* добавил вместо глобальных .images-empty */
.empty {
  display: flex;
  justify-content: center;
  height: 1000px;
  padding: 80px 24px 60px;
  text-align: center;
}

/* добавил вместо глобальных .images-empty__title */
.emptyTitle {
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
  color: #000;
}

.emptyTitle span {
  color: var(--color-accent);
}

@media (max-width: 390px) {
  .page {
    padding: 60px var(--page-padding-x-mobile) 54px;
  }

  .titleBlock {
    margin-bottom: 18px;
  }

  .kicker {
    margin: 0;
    font-size: 18px;
    line-height: 16px;
  }

  .title {
    font-size: 24px;
    line-height: 30px;
  }
}
