.root {
  background: var(--color-body-bg);
}

.title {
  margin-top: 20px;
  width: 60%;
  font-size: 65px;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
}

.title span {
  color: var(--color-accent);
}

.content {
  padding: 24px;
  background: var(--color-body-bg);
}

.sortRow {
  display: flex;
  justify-content: flex-end;
  padding: 16px 60px 0;
  margin-right: 110px;
}

.empty {
  display: flex;
  justify-content: center;
  height: 1000px;
  padding: 80px 24px 60px;
  text-align: center;
}

.emptyTitle {
  width: 40%;
  font-size: var(--font-size-large);
  font-weight: 700;
  justify-content: center;
  color: var(--color-text-dark);
  font-family: 'Lexend Deca', serif;
}

.emptyTitle span {
  color: var(--color-accent);
}

@media (max-width: 390px) {
  .content {
    padding: 14px;
  }

  .title {
    width: 90%;
    font-size: 30px;
  }

  .sortRow {
    padding: 12px 14px 0;
  }

  .whiteOverlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(3px);
    z-index: 20;
    pointer-events: auto;
  }

  .emptyTitle {
    width: 100%;
    font-size: 40px;
  }
}
