.image {
  position: relative;
  height: 421px;
  padding-top: 56px;
  background-image: url('/public/top.jpg');
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  color: var(--color-text-main);
  z-index: 99;
}

@media (max-width: 390px) {
  .image {
    height: 250px;
  }
}
